<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="/assets/styles.min.css?v=<%- version %>">

<title><%- meta.title %></title>

<meta name="description" content="<%- meta.description %>">
<meta property="og:url" content="<%- root + meta.url %>">
<meta property="og:title" content="<%- meta.title %>">
<meta property="og:description" content="<%- meta.description %>">