<!DOCTYPE html>
<html>
<head>
<%- include(views + '/parts/header', meta) %>
<title><%- title %></title>

<meta name="description" content="<%- description %>">
<meta property="og:url" content="<%- url %>">
<meta property="og:title" content="<%- title %>">
<meta property="og:description" content="<%- description %>">
</head>

<body>
    <header class="header">
        <span class="logo"><a href="/">wpget.org</a>/<a href="/social-planner/">social-planner</a>/setup</span>

        <%- include(views + '/parts/mode' ) %>
    </header>

    <section class="hero">
        <h1>Social Planner: setup</h1>

        <p>
            This section describes in sufficient detail the process of configuring providers for sending messages.
            Read the instructions carefully and check the screenshots.
            Use the icons below to quickly navigate through the guides of various social networks.
        </p>

        <nav class="tabs">
            <a class="tab" href="#telegram">
                <%- include(views + '/icons/telegram.svg' ) %>
                <span>Telegram</span>
            </a>

            <a class="tab" href="#facebook">
                <%- include(views + '/icons/facebook.svg' ) %>
                <span>Facebook</span>
            </a>

            <a class="tab" href="#vk">
                <%- include(views + '/icons/vk.svg' ) %>
                <span>VK.com</span>
            </a>

            <a class="tab" href="#twitter">
                <%- include(views + '/icons/twitter.svg' ) %>
                <span>Twitter</span>
            </a>

            <a class="tab" href="#ok">
                <%- include(views + '/icons/ok.svg' ) %>
                <span>OK.ru</span>
            </a>
        </nav>

        <p>
            <strong>Getting social networks Authentication tokens can be a little tricky.</strong>
            <strong>Please note that the plugin cannot affect this.</strong>
        </p>
    </section>

    <section class="section">
        <h2 class="anchor" id="telegram">
            <span>Telegram</span>

            <a aria-hidden="true" href="#telegram">
                <%- include(views + '/icons/anchor.svg' ) %>
            </a>
        </h2>

        <p>
            You can send messages to any group or channel.
            To do this, you need to create and add a special Bot to the required chat with the ability to send
            messages.
        </p>

        <p>
            Write to the <a href="https://t.me/BotFather" target="_blank">@BotFather</a> in Telegram and create a
            new Bot.
            Follow the bot prompts, fill in all required fields and get an API Token.
        </p>

        <p>
            Then you need to find out the group or channel ID.
            If the chat has a <strong>public link</strong>, then you can use its <strong>username</strong> (in the
            format @channelusername).<br>
            Otherwise you can write the message to <a href="username_to_id_bot"
                target="_blank">@username_to_id_bot</a> or use <a
                href="https://stackoverflow.com/a/56546442/8495047" target="_blank">this guide</a>.
            Note that chat ID can be negative.
        </p>

        <figure>
            <a href="/images/social-planner/telegram-1.png" target="_blank">
                <img src="/images/social-planner/telegram-1.png" alt="Social Planner Telegram configuration">
            </a>

            <figcaption>Example settings for Telegram.</figcaption>
        </figure>

        <p>
            If you have an access error when sending a message, try to check the correctness of the API Token and
            the chat ID,
            bypassing the plugin.
        </p>

        <p>
            You can find full help on Telegram Bot API on the <a href="https://core.telegram.org/bots/api" target="_blank">official website</a>.
        </p>
    </section>

    <section class="section">
        <h2 class="anchor" id="facebook">
            <span>Facebook</span>

            <a aria-hidden="true" href="#facebook">
                <%- include(views + '/icons/anchor.svg' ) %>
            </a>
        </h2>

        <p>
            With this plugin you can publish to <strong>Facebook Pages only</strong>.
            If you already have an application with permissions to publish to your page,
            you can immediately proceed to the <a href="#facebook-pageid">stage</a> of obtaining the Page ID.
        </p>

        <p>
            <strong>Attention!</strong> Due to Facebook Restriction we can use the new Facebook App in HTTPS sites
            only.
        </p>

        <p>
            <strong>Attention!</strong> You can publish to Facebook with the approved app only.
            So you need to submit the app for approval and it may take upto 3 months to get the approval.
            Facebook changes the rules of using its products often, so before starting the setup,
            read the latest guidelines on the <a href="https://developers.facebook.com/docs/pages/getting-started"
                target="_blank">help page.</a>
        </p>

        <p>
            To create a new Facebook application, go to the <a href="https://developers.facebook.com/apps"
                target="_blank">developer pages</a>
            and create new one. You will need to select the type of your application.
        </p>

        <figure>
            <a href="/images/social-planner/facebook-1.png" target="_blank">
                <img src="/images/social-planner/facebook-1.png" alt="Social Planner Facebook configuration">
            </a>

            <figcaption>The easiest way to focus on Business integrations.</figcaption>
        </figure>

        <p>
            Enter the App Display Name and the contact Email. The purpose is for <strong>Yourself or your own
                business</strong>.
        </p>

        <p id="facebook-pageid">
            After the application is created, let's find out the ID of your page.
            Read how to do it on the Facebook <a href="https://www.facebook.com/help/1503421039731588"
                target="_blank">help page</a>.
        </p>

        <figure>
            <a href="/images/social-planner/facebook-2.png" target="_blank">
                <img src="/images/social-planner/facebook-2.png" alt="Social Planner Facebook configuration">
            </a>

            <figcaption>This is how the Page ID usually looks.</figcaption>
        </figure>

        <p>
            Now let's move on getting access token.
            For this you can use <a href="https://developers.facebook.com/tools/explorer/" target="_blank">Graph API
                Explorer</a> tool.
            In the right section select your Facebook App and in the User or Page field click <strong>Get page
                access token</strong>.
        </p>

        <p>
            Now you need to request some required permissions:
        </p>

        <ul>
            <li>pages_manage_metadata</li>
            <li>pages_manage_posts</li>
            <li>pages_manage_read_engagement</li>
            <li>pages_show_list</li>
        </ul>

        <figure>
            <a href="/images/social-planner/facebook-3.png" target="_blank">
                <img src="/images/social-planner/facebook-3.png" alt="Social Planner Facebook configuration">
            </a>

            <figcaption>Ideally you should see something like this for your app and page.</figcaption>
        </figure>

        <p>
            Check that the access token is working by sending a <strong>POST</strong> request in the Graph Explorer
            tool of the
            <code>{PageID}/feed</code>.
            Error <code>The post is empty. Please enter a message to share</code> means that the token is
            correct.
            If the error says about the need to obtain additional permissions, then you will have to pass the
            application verification.
            You can read more about this in the <a
                href="https://developers.facebook.com/docs/app-review/submission-guide" target="_blank">Facebook
                help guide</a>.
        </p>

        <p>
            The received token must be made long-term with <a
                href="https://developers.facebook.com/tools/debug/accesstoken/" target="_blank">Access Token
                Debuger</a>.
            You can also get a permanent token using <a href="https://stackoverflow.com/a/43570120/8495047"
                target="_blank">this guide</a>.
        </p>

        <figure>
            <a href="/images/social-planner/facebook-4.png" target="_blank">
                <img src="/images/social-planner/facebook-4.png" alt="Social Planner Facebook configuration">
            </a>

            <figcaption>Receiving permanent token in Access Token Debugger.</figcaption>
        </figure>

        <p>
            After receiving the <strong>access token</strong> and <strong>Page ID</strong>, you can proceed to
            configuring the plugin.
        </p>

        <figure>
            <a href="/images/social-planner/facebook-5.png" target="_blank">
                <img src="/images/social-planner/facebook-5.png" alt="Social Planner Facebook configuration">
            </a>

            <figcaption>Example settings for Facebook.</figcaption>
        </figure>
    </div>

    <div class="part">
        <h2 class="anchor" id="vk">
            <span>VK.com</span>

            <a aria-hidden="true" href="#vk">
                <%- include(views + '/icons/anchor.svg' ) %>
            </a>
        </h2>

        <p>
            You can send messages both to your profile wall and to the community where you are an administrator.
        </p>

        <p>
            Start by registering your app on the <a href="https://vk.com/editapp?act=create"
                target="_blank">developer page</a>.
            Enter something in the title field and choose <strong>Standalone app</strong> platform.
            Then confirm your action with phone call or push notification.
        </p>

        <figure>
            <a href="/images/social-planner/vk-1.png" target="_blank">
                <img src="/images/social-planner/vk-1.png" alt="Social Planner VK.com configuration">
            </a>
        </figure>

        <p>
            Go to the <strong>Settings</strong> tab and copy the <strong>App ID</strong>.
            Insert this ID to the field below and push the button to generate your Token.
        </p>

        <form class="fields" action="https://oauth.vk.com/authorize" method="GET" target="_blank">
            <input type="text" name="client_id" value="" placeholder="7722553" required>

            <input type="hidden" name="scope" value="offline,photos,wall">
            <input type="hidden" name="response_type" value="token">
            <input type="hidden" name="redirect_uri" value="https://oauth.vk.com/blank.html">
            <input type="hidden" name="revoke" value="1">
            <input type="hidden" name="v" value="5.125">

            <button class="button" type="submit">Generate token</button>
        </form>

        <p>
            After you agree to the terms and conditions, the page will be redirected to <code>oauth.vk.com</code>
            domain.
            Your Token will be in <code>access_token</code> parameter.
        </p>

        <figure>
            <a href="/images/social-planner/vk-2.png" target="_blank">
                <img src="/images/social-planner/vk-2.png" alt="Social Planner VK.com configuration">
            </a>
        </figure>

        <p>
            Please note that VK.com warns you not to transfer the Token to other sites.
            So keep it secret and only use it on trusted sites.
            Social Planner <strong>does not send</strong> any user data to remote servers.
        </p>

        <p>
            Now you need to get the profile or community ID.
            You can find it in the links of your pages. Use a negative value to designate a community ID.
        </p>

        <figure>
            <a href="/images/social-planner/vk-3.png" target="_blank">
                <img src="/images/social-planner/vk-3.png" alt="Social Planner VK.com configuration">
            </a>

            <figcaption>You can see the ID in the url on the stats page for example.</figcaption>
        </figure>

        <p>
            Use <strong>access token</strong> and <strong>group ID</strong> on the plugin settings page.
        </p>

        <figure>
            <a href="/images/social-planner/vk-4.png" target="_blank">
                <img src="/images/social-planner/vk-4.png" alt="Social Planner VK.com configuration">
            </a>

            <figcaption>Example settings for VK.com.</figcaption>
        </figure>
    </section>

    <section class="section">
        <h2 class="anchor" id="twitter">
            <span>Twitter</span>

            <a aria-hidden="true" href="#twitter">
                <%- include(views + '/icons/anchor.svg' ) %>
            </a>
        </h2>

        <p>
            To set up this provider, you need to have full access to your Twitter account,
            as well as access to the attached Email in order to receive messages from support.
            If you already have a developer account and you created the application earlier,
            then skip directly to the <a href="#twitter-tokens">last step</a>.
        </p>

        <p>
            <strong>Attention!</strong> Getting keys on Twitter can take patience and time.
            It is plugin independent and completely on your shoulders.
        </p>

        <p>
            Log in to <a href="https://developer.twitter.com/en/apply-for-access" target="_blank">Twitter
                Developers</a>
            and click on the <strong>Apply for a developer account</strong> button.
        </p>

        <p>
            Now you need to fill out a form to obtain developer status.
            Fill in all fields and submit. You will receive a response in about 12 hours.
            Try to describe in as much detail how you will use the keys and on which specific site.

            A sample description is given below.
        </p>

        <blockquote>
            <p>
                I am using a WordPress plugin Social Planner (https://wordpress.org/plugins/social-planner/) to
                publish posts automatically from blog to Twitter.
                The plugin requires Twitter App to publish posts from WordPress to Twitter.
                For this I must create an app and provide the app details such as API key, API secret, Access token
                and Access token secret.

                While creating a new post on my WordPress site, I can schedule the task to send this post to Twitter
                with custom excerpt or image.
                The detailed process is described in the documentation for the plugin
                (https://antonlukin.github.io/social-planner/#task-scheduling).
            </p>
        </blockquote>

        <figure>
            <a href="/images/social-planner/twitter-1.png" target="_blank">
                <img src="/images/social-planner/twitter-1.png" alt="Social Planner Twitter configuration">
            </a>

            <figcaption>Accept terms and conditions and submit the application.</figcaption>
        </figure>

        <p>
            Once the developer account gets approved, you will get a mail from Twitter. Then you can create a new
            app.
            In the create app section we can add the App Name, Application description, website url, and tell how
            the app is used.
            A sample description is given below.
        </p>

        <blockquote>
            <p>
                I am using a WordPress plugin to publish posts automatically from blog to Twitter as a simple text
                message or or as text message with image.
                The plugin requires Twitter App to publish posts from WordPress to Twitter.
                For this I must create an app and provide the app details such as API key, API secret, Access token
                and Access token secret.
            </p>
        </blockquote>

        <p>
            Review the terms and create the app. Go to the <strong>Keys and tokens</strong> section.
            Click on the <strong>Create</strong> button under <strong>Access token & access token secret</strong>
            section.
        </p>

        <p id="twitter-tokens">
            Now you can use the received keys to configure the plugin.
            Access level should be <strong>Read and write</strong>.
        </p>

        <figure>
            <a href="/images/social-planner/twitter-2.png" target="_blank">
                <img src="/images/social-planner/twitter-2.png" alt="Social Planner Twitter configuration">
            </a>

            <figcaption>Necessary Twitter access tokens.</figcaption>
        </figure>

        <p>
            You need to use all keys and tokens when configuring the plugin.
            Fields order on the settings page is the same as the order in Twitter.
        </p>

        <figure>
            <a href="/images/social-planner/twitter-3.png" target="_blank">
                <img src="/images/social-planner/twitter-3.png" alt="Social Planner Twitter configuration">
            </a>

            <figcaption>Example settings for Twitter.</figcaption>
        </figure>
    </section>

    <section class="section">
        <h2 class="anchor" id="ok">
            <span>OK.ru</span>

            <a aria-hidden="true" href="#ok">
                <%- include(views + '/icons/anchor.svg' ) %>
            </a>
        </h2>

        <p>
            With this plugin you can publish to <strong>OK.ru groups</strong> only.
            If you already have an application with permissions to publish to your group,
            you can immediately proceed to the <a href="#ok-settings">configuring</a> the plugin.
        </p>

        <p>
            <strong>Attention!</strong> You can publish to OK.ru groups with the approved app only.
            So you need to submit the app for approval and request the necessary permissions.
            This process usually takes <strong>3 days</strong>, but the time frame may increase.
        </p>

        <p>
            Log in to OK.ru and go to the <a href="https://ok.ru/app/setup" target="_blank"></a>develpment page</a>
            for creating a new application.
        </p>

        <p>
            Fill in the settings fields. Select the type-custom application and save it.
            Immediately after that, a letter should come to your mail indicating your application credentials.
        </p>

        <figure>
            <a href="/images/social-planner/ok-1.png" target="_blank">
                <img src="/images/social-planner/ok-1.png" alt="Social Planner OK.ru configuration">
            </a>

            <figcaption>Do not forget to fill in all the required fields and save the application settings.
            </figcaption>
        </figure>

        <p>
            Now you need to request additional permissions for your app in order to be able to post.
            To do this, send an email to <strong>api-support@ok.ru</strong> with the ID of your application
            and a detailed description of the tasks for which you need permissions.
            A sample description is given below. Do not forget to replace values in brackets.
        </p>

        <blockquote>
            <p>
                Здравствуйте, прошу предоставить разрешения на создание топиков в моем сообществе в Одноклассниках
                <strong>[link to your group]</strong>
                для моего приложения с ID <strong>[application ID from email]</strong>.
                Публикация будет выполняться с моего сайта <strong>[link to your WordPress site]</strong>
                с помощью плагина Social Planner: https://wordpress.org/plugins/social-planner.
                Требуемые разрешения: GROUP_CONTENT, PHOTO_CONTENT.
                Для других целей это приложение использоваться не будет.
            </p>
        </blockquote>

        <p>
            You will receive an answer in about <strong>3 days</strong>.
            If you have not received the letter, check the application settings,
            you may have already been granted permissions.
            You can do this by following <a href="https://ok.ru/vitrine/myuploaded" target="_blank">the link</a>
            and selecting the application you need.
        </p>

        <figure>
            <a href="/images/social-planner/ok-2.png" target="_blank">
                <img src="/images/social-planner/ok-2.png" alt="Social Planner OK.ru configuration">
            </a>

            <figcaption>This is how the screen will look after the OK.ru support team gives you permissions.
            </figcaption>
        </figure>

        <p id="ok-settings">
            New fields <strong>GROUP_CONTENT</strong> and <strong>PHOTO_CONTENT</strong> will appear in the access
            rights of your application.
            Now you can proceed to configuring the plugin. First of all, get an access token.
            Copy both access token and secret session key to the plugin settings.
        </p>

        <p>
            You can find the <strong>Application public key</strong> at the top of your app's settings page
            or in the first letter from OK.ru support team.
            The <strong>Group ID</strong> value can be viewed in the link address of your group or on its settings
            page.
        </p>

        <figure>
            <a href="/images/social-planner/ok-3.png" target="_blank">
                <img src="/images/social-planner/ok-3.png" alt="Social Planner OK.ru configuration">
            </a>

            <figcaption>Example settings for OK.ru.</figcaption>
        </figure>
    </section>

    <a class="back" href="/social-planner">
        <%- include(views + '/icons/left.svg' ) %>
        <span>Back to <strong>Social Planner</strong> summary</span>
    </a>

    <%- include(views + '/parts/footer' ) %>
</body>
</html>